head 
  link(rel='stylesheet', href='https://api-video-website.netlify.app/assets/styles/demoStyle.css')
  link(rel='icon', href='/icon.ico', type='image/x-icon')
  script(src='/socket.io.js')
  script(src='https://embed.api.video/sdk.js')
  script(src='/demo.js')

body

  .container
   .actionsWrapper
    .action__upload(id='action__upload')
        form(id='upload',name='uploadForm',action='/' ,method = 'POST',  enctype="multipart/form-data")
     
          label(for='file', class="uploadFile")
           .uploadFile__icon
            img(draggable="false", src="https://www.datocms-assets.com/26885/1589195859-upload.png", alt="")
           .uploadFile__content
            span(class='uploadFile__content__title') Drop a video here
            span(class='uploadFile__content__desc')  or click to browse for a file (max 100mb)
           input(id='file',type='file', name="source", class="inputFile", style='display:none', onclick='thisFileUpload();')
    .action__or
      span or       
    .action__live
        form(name='livestreamForm',action='/' method = 'GET')
          input(id='livetext',type='text', name = "live", value="true",style='display:none')
          input(class = "gradientButton",type="submit", name="livestream", value ='Live with your webcam' onclick='initiateLivestream();')
   .resultsWrapper
      .resultCol(class="result__server")
        .result__serverWrapper
          .result__server__body
            p #{videoResponse}
      .resultCol(class="result__video")
        .result__videoWrapper
          #{iframecode}
          #liveVideo
  #liveTest
  #Livestream
    p 
  #output_message(style='display:none')
  #output_console(style='display:none')
  #liveManifest(style='display:none') #{liveStreamManifest}  
  #liveResponse(style='display:none') #{liveResponse}  
  #rtmpEndpoint(style='display:none') #{rtmpEndpoint}
  #video_show()
  
	
    